!!!
%html
  %head
    %title 
      Public G-Cal
    %script{:src=>"/js/jquery-1.7.2.min.js"}
    %script{:src=>"/js/bootstrap.min.js"}
    %script{:src=>"/js/bootstrap-datepicker.js"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/bootstrap.min.css"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/bootstrap-responsive.min.css"}
  %body
    %p.error
      - if @flash
        = @flash
    = yield

